# --- Float-to-Tile System Ignores ---

# Logs
Logs/*.log
Actions/Actions_Logs/*.log

# Data
Data/*.data

# Last Valid States
Last-Valid-States/*.last-valid-state
Actions/Actions_Last-Valid-States/*.last-valid-state

# --- END ---